<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<!-- Can turn on or off tracing here, doesn't appear to be anything relevant since error is happening client side -->
	<!--<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Warning, Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\IdentityFailTest.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->

	<system.serviceModel>
		<services>
			<service behaviorConfiguration="MyBehaviorConfig" name="WcfSelfHostedServer.Service">
				<endpoint address="" behaviorConfiguration="" binding="customBinding" bindingConfiguration="MyBinding" contract="WcfSelfHostedServer.IService" />
			</service>
		</services>

		<!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
		<behaviors>
			<serviceBehaviors>

				<behavior name="MyBehaviorConfig">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceAuthorization principalPermissionMode="Always"  />
					<serviceCredentials useIdentityConfiguration="true">
						<!-- IdentityFail.pfx, should be installed in Local Computer Personal store, password is IdentityFail -->
						<serviceCertificate findValue="76 a1 a3 1a fd 5b 4c 84 f4 fa 04 85 1d 64 fc b8 7a 54 a0 e8" x509FindType="FindByThumbprint" storeLocation="LocalMachine"/>						
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>

			<customBinding>
				<binding name="MyBinding">
					<transactionFlow/>

					<sslStreamSecurity sslProtocols="Tls"/>

					<binaryMessageEncoding>
						<readerQuotas maxDepth="104857600" maxStringContentLength="104857600" maxArrayLength="104857600" maxBytesPerRead="104857600" maxNameTableCharCount="104857600" />
					</binaryMessageEncoding>

					<tcpTransport transferMode="StreamedResponse" maxReceivedMessageSize="104857600" maxBufferPoolSize="104857600" maxBufferSize="104857600"/>
				</binding>
			</customBinding>

		</bindings>
	</system.serviceModel>
</configuration>